docker/nodered/AMQP with JAVA example.txt
[{"id":"3d55d45c.d187fc","type":"amqp2 in","z":"cbe92339.cc1a7","name":"rabbitMQ","topic":"","iotype":"4","ioname":"","server":"fc909d13.17f4e","x":520,"y":220,"wires":[["d0c10bfd.8a5a08","1b7eb898.211017"]]},{"id":"c1f37905.c59d68","type":"debug","z":"cbe92339.cc1a7","name":"","active":true,"console":"false","complete":"payload","x":890,"y":220,"wires":[]},{"id":"f4e9ed19.bfdc5","type":"function","z":"cbe92339.cc1a7","name":"configureAMQP","func":"msg[\"readFrom\"] = \"generic.object.list.defaultID.testRestQueue\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["3d55d45c.d187fc"]]},{"id":"c32bb31a.42817","type":"inject","z":"cbe92339.cc1a7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":250,"y":80,"wires":[["f4e9ed19.bfdc5"]]},{"id":"d0c10bfd.8a5a08","type":"function","z":"cbe92339.cc1a7","name":"","func":"var payloadAsJson = JSON.parse(msg.payload.payload);\nmsg.payload = payloadAsJson;\nvar msg2 = {}\nmsg2.payload = payloadAsJson.property4.property41;\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":690,"y":260,"wires":[["c1f37905.c59d68"],["c7692091.7ccdb"]]},{"id":"1b7eb898.211017","type":"json","z":"cbe92339.cc1a7","name":"","pretty":true,"x":690,"y":160,"wires":[["c1f37905.c59d68"]]},{"id":"c7692091.7ccdb","type":"debug","z":"cbe92339.cc1a7","name":"","active":true,"console":"false","complete":"payload","x":890,"y":280,"wires":[]},{"id":"fc909d13.17f4e","type":"amqp2-server","z":"","host":"192.168.99.100","port":"5672","vhost":"asDocument-rabbitmq","keepalive":"30","usetls":false,"verifyservercert":true}]