docker/nodered/flows_28.03.17.txt
[{"id":"4e6d64b2.46245c","type":"tab","label":"S4T Env TestSuite"},{"id":"8f1c09bc.7e6828","type":"tab","label":"S4T postman simulation"},{"id":"79d2ea73.3ad7d4","type":"tab","label":"DR - CreateAccount"},{"id":"5276ae53.99a8f","type":"tab","label":"DR - CreateEvent"},{"id":"b5a5f643.4f64d8","type":"tab","label":"Flow 1"},{"id":"31b28686.5ea86a","type":"tab","label":"DR - RetrieveEvents"},{"id":"cf3a3229.ae4ae","type":"tab","label":"DR - GetUser"},{"id":"6bcd6b9f.538504","type":"tab","label":"DR - Authenticate"},{"id":"546e59d4.1b9b28","type":"tab","label":"DR - RetrieveAccounts"},{"id":"661d147d.86cecc","type":"mqtt-broker","z":"","broker":"reindeer.rmq.cloudamqp.com","port":"5672","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"test","willQos":"0","willPayload":"","birthTopic":"test","birthQos":"0","birthPayload":""},{"id":"66a5ca08.5433f4","type":"mqtt-broker","z":"","broker":"reindeer.rmq.cloudamqp.com","port":"5671","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3252895e.3ac4c6","type":"mqtt-broker","z":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3898f25.0bdea0e","type":"mqtt-broker","z":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"874b64cf.6cb2c8","type":"mqtt-broker","z":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ba28332b.4c0ad","type":"ttn app","z":"","appId":"findmybicycledemovienna","region":"root","accessKey":"password"},{"id":"48f250ec.6d916","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"s4t","name":"S4T MongoDB for Digital Reputation"},{"id":"56eba699.071f88","type":"mongodb2","z":"","uri":"mongodb://mongodb:27017/s4t","name":"host-s4t","options":"","parallelism":"-1"},{"id":"3328038f.bf2dcc","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"s4t","name":""},{"id":"1afca139.4e767f","type":"inject","z":"4e6d64b2.46245c","name":"Rest isAlive","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.49989318847656,"y":423.7999725341797,"wires":[["3e250458.da8dec","4259ab63.7b7524"]]},{"id":"7d8d4a25.d78764","type":"debug","z":"4e6d64b2.46245c","name":"","active":true,"console":"false","complete":"false","x":1080.5,"y":429.8000030517578,"wires":[]},{"id":"3e250458.da8dec","type":"http request","z":"4e6d64b2.46245c","name":"REST isAlive","method":"GET","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/isAlive/test","tls":"","x":386.4999084472656,"y":426.59999084472656,"wires":[["162a7a50.08e196"]]},{"id":"162a7a50.08e196","type":"change","z":"4e6d64b2.46245c","name":"TestChange","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"SpringBoot RS service is running!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.4999084472656,"y":424.3999481201172,"wires":[["7d8d4a25.d78764"]]},{"id":"8961489a.919688","type":"inject","z":"4e6d64b2.46245c","name":"RabbitMQ (REST) publish/subscribe To ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":185.11102294921875,"y":798.1110687255859,"wires":[["13d64f5d.71d981","2e2b541c.0ef44c"]]},{"id":"1657bc3b.8fa874","type":"http request","z":"4e6d64b2.46245c","name":"SpringBoot MQTT publish test","method":"POST","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/mqtt/publish","tls":"","x":528.11083984375,"y":589.111083984375,"wires":[["6f8a213f.d2348"]]},{"id":"adc32db9.01ba4","type":"http request","z":"4e6d64b2.46245c","name":"SpringBoot MQTT subscribe test","method":"POST","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/mqtt/subscribe","tls":"","x":877.1109313964844,"y":587.111083984375,"wires":[["6f8a213f.d2348"]]},{"id":"1fa1f2e9.23107d","type":"function","z":"4e6d64b2.46245c","name":"publish payload","func":"\nreturn{\n    payload: {\n\t\"exchangeType\": \"direct\",\n\t\"protocol\": \"application/json\",\n    \"exchange\": \"testRestExchange\",\n    \"queue\": \"testRestQueue\",\n    \"bindingKey\": \"testRestBindingKey\",\n    \"message\": {\n    \t\"latitude\": \"48.202962\",\n    \t\"longitude\": \"16.3402351\"\n    }\n        \n    }\n}","outputs":1,"noerr":0,"x":375.3888244628906,"y":653,"wires":[["1657bc3b.8fa874"]]},{"id":"c420b952.6144b8","type":"function","z":"4e6d64b2.46245c","name":"subscribe payload","func":"\nreturn{\n    payload: {\n        \"queue\": \"testRestQueue\"\n    }\n}","outputs":1,"noerr":0,"x":629.1108703613281,"y":652.111083984375,"wires":[["adc32db9.01ba4"]]},{"id":"4259ab63.7b7524","type":"http request","z":"4e6d64b2.46245c","name":"REST IOT isAlive","method":"GET","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/isAlive/test","tls":"","x":393.1110534667969,"y":471.11106872558594,"wires":[["162a7a50.08e196"]]},{"id":"568cdb4c.01e564","type":"debug","z":"8f1c09bc.7e6828","name":"","active":true,"console":"false","complete":"false","x":1170.0000915527344,"y":234.9111099243164,"wires":[]},{"id":"a522b45c.88fec8","type":"change","z":"8f1c09bc.7e6828","name":"TestChange","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"SpringBoot RS service is running!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710.9999694824219,"y":32.51104736328125,"wires":[["21560764.b8ea58"]]},{"id":"1e8d6da3.214262","type":"http request","z":"8f1c09bc.7e6828","name":"REST isAlive","method":"GET","ret":"obj","url":"http://rest:8082/isAlive/test","tls":"","x":398.9999694824219,"y":31.711090087890625,"wires":[["a522b45c.88fec8"]]},{"id":"72678810.1a66a8","type":"http request","z":"8f1c09bc.7e6828","name":"REST IOT isAlive","method":"GET","ret":"obj","url":"http://rest:8082/isAlive/test","tls":"","x":399.6111145019531,"y":97.22216796875,"wires":[["21560764.b8ea58"]]},{"id":"d81bc239.8e813","type":"inject","z":"8f1c09bc.7e6828","name":"Rest isAlive","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":145.9999542236328,"y":67.91107177734375,"wires":[["1e8d6da3.214262","72678810.1a66a8"]]},{"id":"f43530de.c8602","type":"inject","z":"8f1c09bc.7e6828","name":"IOT (REST) publish IOTHeartBeat","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184.11111450195312,"y":208.11112213134766,"wires":[["bf8818b3.ac40b8"]]},{"id":"bf8818b3.ac40b8","type":"function","z":"8f1c09bc.7e6828","name":"publish payload","func":"\nreturn{\n    payload: {\"s4tId\":\"tind_sk_01\",\"wifi\":[{\"ssid\":\"90:f6:52:80:fc:ff:\",\"rssi\":13},{\"ssid\":\"dc:53:7c:f0:25:3d:\",\"rssi\":11},{\"ssid\":\"64:7c:34:4d:2e:79:\",\"rssi\":11},{\"ssid\":\"de:53:1c:f0:25:3d:\",\"rssi\":11}]}\n}","outputs":1,"noerr":0,"x":434.388916015625,"y":212.00006866455078,"wires":[["bf541c08.55455"]]},{"id":"bf541c08.55455","type":"http request","z":"8f1c09bc.7e6828","name":"Publish IOTHeartBeat","method":"PUT","ret":"obj","url":"http://rest:8082/iot/store","tls":"","x":678.1109313964844,"y":212.1111068725586,"wires":[["568cdb4c.01e564"]]},{"id":"efeb2c1.e0970d","type":"inject","z":"8f1c09bc.7e6828","name":"S4T (REST) create S4T no IOT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":174.111083984375,"y":289.11112213134766,"wires":[["b0d7e6e6.f2bf98"]]},{"id":"b0d7e6e6.f2bf98","type":"function","z":"8f1c09bc.7e6828","name":"publish payload","func":"\nreturn{\n    payload: {\n    \"mac\": \"S4TIDNoIOT\",\n    \"type\": \"LoPY\",\n  \"status\": \"CLEAN\",\n  \"owner\": \n    {\n       \"id\": \"ownerId\",\n       \"s4tId\" : \"S4TID\",\n       \"notificationType\": \"EMAIL\",\n       \"alarmMessage\": \"Alarm was Activated! Please check if house is safe!\",\n       \"fromAddresses\": \"peteanusergiu@gmail.com\",\n       \"toAddresses\": [\n                    \"peteanusergiu@gmail.com\"\n                ],\n       \"subject\": \"Alarm activated!\",\n       \"smsNumber\": \"+4366488915900\"\n    },\n    \"iot\": \n      []\n}    \n}","outputs":1,"noerr":0,"x":420.3888854980469,"y":287.0000686645508,"wires":[["1f8fccfb.dad0b3"]]},{"id":"1f8fccfb.dad0b3","type":"http request","z":"8f1c09bc.7e6828","name":"Create S4T (no IOT)","method":"POST","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/s4t/create","tls":"","x":680.1108703613281,"y":287.11112213134766,"wires":[["568cdb4c.01e564"]]},{"id":"f50ff469.a7c538","type":"inject","z":"8f1c09bc.7e6828","name":"Config (REST) Owner ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133.11111450195312,"y":457.1111145019531,"wires":[["8fcf0acc.a0c188"]]},{"id":"8fcf0acc.a0c188","type":"function","z":"8f1c09bc.7e6828","name":"publish payload","func":"\nreturn{\n    payload: {\n        \"id\": \"E6:F7:33:75:1F:CC\",\n         \"s4tId\" : \"E6:F7:33:75:1F:CC\",\n         \"notificationType\": \"EMAIL\",\n         \"alarmMessage\": \"Alarm was Activated! Please check if house is safe!\",\n         \"fromAddresses\": \"peteanusergiu@gmail.com\",\n         \"toAddresses\": [\n             \"peteanusergiu@gmail.com\"\n             ],\n         \"subject\": \"Alarm activated!\",\n         \"smsNumber\": \"+4366488915900\"\n    }\n}","outputs":1,"noerr":0,"x":423.388916015625,"y":461.00006103515625,"wires":[["242af8f8.55ff08"]]},{"id":"242af8f8.55ff08","type":"http request","z":"8f1c09bc.7e6828","name":"Configure Owner","method":"POST","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/config/owner","tls":"","x":657.1109313964844,"y":461.11109924316406,"wires":[["8b6d649b.21e1d8"]]},{"id":"21560764.b8ea58","type":"debug","z":"8f1c09bc.7e6828","name":"","active":true,"console":"false","complete":"false","x":1136.1110534667969,"y":72.11111450195312,"wires":[]},{"id":"3e80787d.e0bde8","type":"debug","z":"8f1c09bc.7e6828","name":"","active":true,"console":"false","complete":"false","x":1156.111083984375,"y":529.111083984375,"wires":[]},{"id":"2b8823f.79e8fdc","type":"inject","z":"8f1c09bc.7e6828","name":"Alarm (REST) Raise","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.11111450195312,"y":532.111083984375,"wires":[["da930dcf.472d9"]]},{"id":"da930dcf.472d9","type":"function","z":"8f1c09bc.7e6828","name":"publish payload","func":"\nreturn{\n    payload: {\n \"homeID\": \"E6:F7:33:75:1F:CC\"\n}\n}","outputs":1,"noerr":0,"x":425.388916015625,"y":536.0000305175781,"wires":[["39b25fc7.f0ed2"]]},{"id":"39b25fc7.f0ed2","type":"http request","z":"8f1c09bc.7e6828","name":"Raise Alarm","method":"POST","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/config/owner","tls":"","x":639.1109313964844,"y":536.1110687255859,"wires":[["3e80787d.e0bde8"]]},{"id":"8b6d649b.21e1d8","type":"debug","z":"8f1c09bc.7e6828","name":"","active":true,"console":"false","complete":"false","x":1140.111083984375,"y":451.1111145019531,"wires":[]},{"id":"6f8a213f.d2348","type":"debug","z":"4e6d64b2.46245c","name":"","active":true,"console":"false","complete":"false","x":1108.111083984375,"y":765.2222290039062,"wires":[]},{"id":"13d64f5d.71d981","type":"function","z":"4e6d64b2.46245c","name":"publish payload","func":"\nreturn{\n    payload: {\n\t\"exchangeType\": \"direct\",\n\t\"protocol\": \"application/json\",\n    \"exchange\": \"testRestExchange\",\n    \"queue\": \"testRestQueue\",\n    \"bindingKey\": \"testRestBindingKey\",\n    \"message\": {\n    \t\"latitude\": \"48.202962\",\n    \t\"longitude\": \"16.3402351\"\n    }\n        \n    }\n}","outputs":1,"noerr":0,"x":353.3611145019531,"y":857.128173828125,"wires":[["b93d0c21.e322b"]]},{"id":"b93d0c21.e322b","type":"http request","z":"4e6d64b2.46245c","name":"SpringBoot MQTT publish test","method":"POST","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/mqtt/publishTo/testRestQueue","tls":"","x":449.8331298828125,"y":954.3332824707031,"wires":[["6f8a213f.d2348"]]},{"id":"d62f4a5c.551cd8","type":"http request","z":"4e6d64b2.46245c","name":"SpringBoot MQTT subscribe test","method":"GET","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/mqtt/subscribeTo/testRestQueue","tls":"","x":818.8332214355469,"y":952.3332824707031,"wires":[["6f8a213f.d2348"]]},{"id":"2e2b541c.0ef44c","type":"delay","z":"4e6d64b2.46245c","name":"Delay","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":529.1110534667969,"y":798.9999694824219,"wires":[["d62f4a5c.551cd8"]]},{"id":"e9d040a4.91f83","type":"inject","z":"4e6d64b2.46245c","name":"RabbitMQ (REST) publish/subscribe","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":177.11111450195312,"y":602.5555114746094,"wires":[["1fa1f2e9.23107d","b7f34ff4.81013"]]},{"id":"b7f34ff4.81013","type":"delay","z":"4e6d64b2.46245c","name":"Delay","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":522.111083984375,"y":718.5555419921875,"wires":[["c420b952.6144b8"]]},{"id":"2108bd65.a166f2","type":"inject","z":"4e6d64b2.46245c","name":"Google Geolocalisation API","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":191.11111450195312,"y":52.111114501953125,"wires":[["62eedf46.0e0d5"]]},{"id":"baca02e1.0919a","type":"http request","z":"4e6d64b2.46245c","name":"REST isAlive","method":"POST","ret":"obj","url":"https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDcPgswxWjPBiTDOpEBOB-EYTIY3lox1mw","tls":"","x":555.111083984375,"y":54.111114501953125,"wires":[["bd3f2cbd.b7a1"]]},{"id":"bd3f2cbd.b7a1","type":"debug","z":"4e6d64b2.46245c","name":"","active":true,"console":"false","complete":"false","x":796.1110534667969,"y":45.111114501953125,"wires":[]},{"id":"62eedf46.0e0d5","type":"function","z":"4e6d64b2.46245c","name":"publish payload","func":"\nreturn{\n    payload: {\n  \"considerIp\": \"false\",\n  \"wifiAccessPoints\": [\n    {\n        \"macAddress\": \"64:7C:34:B0:CA:BA\",\n        \"signalStrength\": -43,\n        \"signalToNoiseRatio\": 0\n    },\n    {\n        \"macAddress\": \"74:88:8B:6E:C6:C8\",\n        \"signalStrength\": -69,\n        \"signalToNoiseRatio\": 0\n    }\n  ]\n}\n}","outputs":1,"noerr":0,"x":401.1111145019531,"y":108.111083984375,"wires":[["baca02e1.0919a"]]},{"id":"f7dd9404.b10c18","type":"inject","z":"4e6d64b2.46245c","name":"TTN BA backend","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117.11111450195312,"y":1135.666748046875,"wires":[["aac8d9b9.3b29e8"]]},{"id":"aac8d9b9.3b29e8","type":"http request","z":"4e6d64b2.46245c","name":"TTB BA GET node ","method":"GET","ret":"obj","url":"http://www.lorawan.sk:8000/api/rawpoints/node/node_id/70b3d5499d632d01","tls":"","x":322.111083984375,"y":1102.5557250976562,"wires":[["df393624.258ee8"]]},{"id":"df393624.258ee8","type":"function","z":"4e6d64b2.46245c","name":"s4tNode","func":"function processLOPYPayload (content) {\n    while (content.length >= 16) {\n        processOneElement(content.substr(0, 16));\n        content = content.substr(16, content.length-1) ;\n    }  \n}\n\nfunction processOneElement(oneElement){\n    wifi0 = wifi.constructor();\n    type = parseInt(oneElement.substr(0,2),16);\n    wifi0.ssid = format2MAC(oneElement.substr(2, 12));\n    wifi0.rssi = parseInt(oneElement.substr(14, 2),16) + \"\";\n    s4t.wifi.push(wifi0);    \n}\n\nfunction format2MAC(bssid){\n    var mac = \"\";\n    return mac.concat(bssid.substr(0,2), \":\",bssid.substr(2,2), \":\",bssid.substr(4,2), \":\",bssid.substr(6,2), \":\",bssid.substr(8,2), \":\",bssid.substr(10,2));\n}\n\n var ttnInfo = msg.payload.info;\n var ttnNode = msg.payload.node;\n var ttnData = msg.payload.dataset;\n\n// var bssid0 = \"dc:53:7c:f0:25:3d\";\n// var rssi0 = \"13\";\n\n// var bssid1 = \"64:7c:34:4d:2e:79\";\n// var rssi1 = \"13\";\n\nvar s4t = {\n    s4tId:\"\", \n    timestamp: Date.now(),\n    wifi: [\n    ]\n};\n\nvar wifi =\n        {\n            ssid: \"\",\n            rssi: \"\"\n        };\n        \ns4t.s4tId = ttnNode.name;\ns4t.timestamp = ttnData.timestamp;\n\n// LOPY hex message\n var ttn = ttnData[0].payload;\n\n//decoding LOPY HEX message\n// ttn = lastTTN.split();\ntransaction_id = parseInt(ttn.substr(0,2),16);\nmsg_id = parseInt(ttn.substr(2,2),16);\n\n//multiple elements of diff types [3 - wifi, 1 - lbe]\ncontent = ttn.substr(4, ttn.length -4 - 8 -1);\n//there is only wifi[3] for now. pay attention when 03 is part of BSSID or RSSI as parsing is failing\nprocessLOPYPayload(content);\n\naccel = ttn.substr(ttn.length - 8, ttn.length -1);\nacc_type = parseInt(accel.substr(0,2),16);\n//3 bytes each one representing one axe\nacc_info = accel.substr(2, accel.length-1);\n\n\n msg.payload = s4t;\n return [msg, null];","outputs":"1","noerr":0,"x":464.833251953125,"y":1193.2223510742188,"wires":[["dff4c820.034df8"]]},{"id":"dff4c820.034df8","type":"json","z":"4e6d64b2.46245c","name":"","x":628.1110534667969,"y":1093.0000610351562,"wires":[["1cae1f3e.45b5a1","231891af.8b8e7e"]]},{"id":"1cae1f3e.45b5a1","type":"http request","z":"4e6d64b2.46245c","name":"Publish IOTHeartBeat","method":"PUT","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:8082/iot/store","tls":"","x":768.1110534667969,"y":1197.7778930664062,"wires":[["231891af.8b8e7e"]]},{"id":"231891af.8b8e7e","type":"debug","z":"4e6d64b2.46245c","name":"","active":true,"console":"false","complete":"false","x":986.1110534667969,"y":1116.7778930664062,"wires":[]},{"id":"37a3c406.b83d0c","type":"mqtt in","z":"4e6d64b2.46245c","name":"MQTT Node - TheThingsNetwork","topic":"+/devices/+/up","qos":"2","broker":"3898f25.0bdea0e","x":135.11111450195312,"y":1377.111083984375,"wires":[["4ac8b3b8.54859c"]]},{"id":"4ac8b3b8.54859c","type":"function","z":"4e6d64b2.46245c","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msgRaw = { payload: msg.payload.length };\nmsgRaw.payload = JSON.parse(msg.payload);\nmsgRaw.payload = msgRaw.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msgAscii = { payload: msg.payload.length };\nmsgAscii.payload = JSON.parse(msg.payload);\nmsgAscii.payload = new Buffer(msgAscii.payload.payload_raw, 'base64').toString('ascii');\n\n// msg3 - Decrypt as Hex value (MSB,LSB)\nvar msgHex = { payload: msg.payload.length };\nmsgHex.payload = JSON.parse(msg.payload);\nmsgHex.payload.payload_raw = new Buffer(msgHex.payload.payload_raw, 'base64').toString('hex');\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msgBinary = { payload: msg.payload.length };\nmsgBinary.payload = parseInt(msgHex.payload, 16);\n\n//change outputs to 4\n// return [ msgRaw, msgAscii, msgHex, msgBinary ];\n\nreturn [msgHex];","outputs":"1","noerr":0,"x":419.1111145019531,"y":1448.1110229492188,"wires":[["e4b3dee.969a02"]]},{"id":"e4b3dee.969a02","type":"function","z":"4e6d64b2.46245c","name":"TTN s4t_01 ","func":"function processLOPYPayload (content) {\n    while (content.length >= 16) {\n        processOneElement(content.substr(0, 16));\n        content = content.substr(16, content.length-1) ;\n    }  \n}\n\nfunction processOneElement(oneElement){\n    wifi0 = wifi.constructor();\n    type = parseInt(oneElement.substr(0,2),16);\n    wifi0.ssid = format2MAC(oneElement.substr(2, 12));\n    wifi0.rssi = parseInt(oneElement.substr(14, 2),16) + \"\";\n    s4t.wifi.push(wifi0);    \n}\n\nfunction format2MAC(bssid){\n    var mac = \"\";\n    return mac.concat(bssid.substr(0,2), \":\",bssid.substr(2,2), \":\",bssid.substr(4,2), \":\",bssid.substr(6,2), \":\",bssid.substr(8,2), \":\",bssid.substr(10,2));\n}\n\n var ttnNode = msg.payload;\n\n// var bssid0 = \"dc:53:7c:f0:25:3d\";\n// var rssi0 = \"13\";\n\n// var bssid1 = \"64:7c:34:4d:2e:79\";\n// var rssi1 = \"13\";\n\nvar s4t = {\n    s4tId:\"\", \n    // timestamp: Date.now(),\n    wifi: [\n    ]\n};\n\nvar wifi =\n        {\n            ssid: \"\",\n            rssi: \"\"\n        };\n        \ns4t.s4tId = ttnNode.dev_id;\n//define the correct represantion\n// s4t.timestamp = ttnNode.metadata.time;\n\n// LOPY hex message\n var ttn = msg.payload.payload_raw;\n\n//decoding LOPY HEX message\n// ttn = lastTTN.split();\ntransaction_id = parseInt(ttn.substr(0,2),16);\nmsg_id = parseInt(ttn.substr(2,2),16);\n\n//multiple elements of diff types [3 - wifi, 1 - lbe]\ncontent = ttn.substr(4, ttn.length -4 - 8 -1);\n//there is only wifi[3] for now. pay attention when 03 is part of BSSID or RSSI as parsing is failing\nprocessLOPYPayload(content);\n\naccel = ttn.substr(ttn.length - 8, ttn.length -1);\nacc_type = parseInt(accel.substr(0,2),16);\n//3 bytes each one representing one axe\nacc_info = accel.substr(2, accel.length-1);\n\n\n msg.payload = s4t;\n return [msg, null];","outputs":"1","noerr":0,"x":605.1111145019531,"y":1477.111083984375,"wires":[["c050b46e.470138","b83da5e7.fcc8e8"]]},{"id":"b83da5e7.fcc8e8","type":"debug","z":"4e6d64b2.46245c","name":"","active":true,"console":"false","complete":"false","x":1045.1111145019531,"y":1377.111083984375,"wires":[]},{"id":"c050b46e.470138","type":"http request","z":"4e6d64b2.46245c","name":"Publish IOTHeartBeat","method":"PUT","ret":"obj","url":"http://rest:8082/iot/store","tls":"","x":865.1111145019531,"y":1481.888916015625,"wires":[["b83da5e7.fcc8e8"]]},{"id":"7a187122.bcfe9","type":"comment","z":"5276ae53.99a8f","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":65,"y":502,"wires":[]},{"id":"df772218.6f427","type":"http in","z":"5276ae53.99a8f","name":"CreateEvent REST API","url":"/CreateEvent","method":"put","swaggerDoc":"","x":164,"y":130,"wires":[["c28cab4b.4e2588"]]},{"id":"c28cab4b.4e2588","type":"function","z":"5276ae53.99a8f","name":"FFindUser","func":"flow.set('storedObj', msg.payload);\n\nvar findUserPayload = {\n    \"username\": \"default\",\n    \"password\": \"default\"\n}\n\nfindUserPayload.username = msg.payload.username;\nfindUserPayload.password = msg.payload.password;\n\nmsg.payload = findUserPayload;\nreturn msg;","outputs":"1","noerr":0,"x":368,"y":183,"wires":[["44d35f7f.0c035","8631751.6f7e488"]]},{"id":"c3bf4640.382998","type":"http response","z":"5276ae53.99a8f","name":"CreateEventResponse","x":1267,"y":91,"wires":[]},{"id":"4d951b7e.92cc74","type":"comment","z":"5276ae53.99a8f","name":"REST API & Persistence","info":"","x":125,"y":52,"wires":[]},{"id":"44d35f7f.0c035","type":"mongodb2 in","z":"5276ae53.99a8f","service":"_ext_","configNode":"56eba699.071f88","name":"RetrieveUser from DB","collection":"digrep","operation":"findOne","x":527,"y":83,"wires":[["e135bcfd.509da"]]},{"id":"f690b202.a6b31","type":"debug","z":"5276ae53.99a8f","name":"Protocol Buffer CreateEventEntity","active":true,"console":"false","complete":"payload","x":939,"y":284,"wires":[]},{"id":"f8be1678.df9428","type":"debug","z":"5276ae53.99a8f","name":"Protocol Buffer CreateAccountResponse","active":true,"console":"false","complete":"payload","x":1207,"y":360,"wires":[]},{"id":"7a0edae7.d79ef4","type":"inject","z":"5276ae53.99a8f","name":"Test Create event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":133,"y":559,"wires":[["5a12f1ac.66fbf"]]},{"id":"5a12f1ac.66fbf","type":"function","z":"5276ae53.99a8f","name":"FCreateAccountRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n    \"eventID\": \"testEvent\",\n    \"value\": 3\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":429,"y":561,"wires":[["4e0ed651.d97bc8","6f27f524.bda66c"]]},{"id":"4e0ed651.d97bc8","type":"http request","z":"5276ae53.99a8f","name":"CALL Create event","method":"PUT","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:1880/createEvent","tls":"","x":725,"y":562,"wires":[["f8be1678.df9428"]]},{"id":"e135bcfd.509da","type":"function","z":"5276ae53.99a8f","name":"FCreateEventEntity","func":"var req = flow.get('storedObj');\n\nvar newPayload = {\n    \"userID\": \"default userID\",\n    \"eventID\": \"default eventID!\",\n    \"value\": 3\n}\n\nnewPayload.userID = msg.payload._id;\nnewPayload.eventID = req.eventID;\nnewPayload.value = req.value;\n\nmsg.payload = newPayload;\n\nflow.set('storedObj', msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":739,"y":170,"wires":[["f690b202.a6b31","5fe26250.36975c"]]},{"id":"ddf930b8.414c9","type":"comment","z":"5276ae53.99a8f","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":161,"y":271,"wires":[]},{"id":"6f27f524.bda66c","type":"debug","z":"5276ae53.99a8f","name":"Protocol Buffer CreateAccountRequest","active":true,"console":"false","complete":"payload","x":201,"y":350,"wires":[]},{"id":"8631751.6f7e488","type":"debug","z":"5276ae53.99a8f","name":"Protocol Buffer FindUserEntity","active":true,"console":"false","complete":"payload","x":554,"y":304,"wires":[]},{"id":"5fe26250.36975c","type":"mongodb2 in","z":"5276ae53.99a8f","service":"_ext_","configNode":"56eba699.071f88","name":"SaveEventEntity ","collection":"digrep","operation":"save","x":1001,"y":80,"wires":[["8210fa37.fc5bd8"]]},{"id":"8210fa37.fc5bd8","type":"function","z":"5276ae53.99a8f","name":"FCreateEventResponse","func":"var req = flow.get('storedObj');\n\nvar newPayload = {\n    \"message\": \"Persistence failed !\"\n}\n\n// if (msg.payload.ok == 1) {\n    newPayload.message = \n        \"Event was successfully created with a value of \" + req.value;\n// }\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":"1","noerr":0,"x":1133,"y":178,"wires":[["c3bf4640.382998"]]},{"id":"3f5c6774.29de48","type":"http in","z":"79d2ea73.3ad7d4","name":"createAccount REST API","url":"/createAccount","method":"put","swaggerDoc":"","x":171,"y":105,"wires":[["bb466314.03da5"]]},{"id":"bb466314.03da5","type":"function","z":"79d2ea73.3ad7d4","name":"FPersist","func":"msg.payload[\"credit\"] = 20;\n\nif (msg.payload.organizer === true) {\n    msg.payload[\"credit\"] = 100;\n}\n\nmsg.payload[\"useraccount\"] = msg.payload.email;\n\nflow.set('storedObj', msg.payload);\n\nreturn msg;","outputs":"1","noerr":0,"x":389,"y":103,"wires":[["472b42ca.14330c","4e5d2113.d596f"]]},{"id":"f175e61b.8aaa08","type":"http response","z":"79d2ea73.3ad7d4","name":"CreateAccountResponse","x":1259,"y":20,"wires":[]},{"id":"bd29472e.fb1d08","type":"comment","z":"79d2ea73.3ad7d4","name":"REST API & Persistence","info":"","x":122,"y":27,"wires":[]},{"id":"472b42ca.14330c","type":"mongodb2 in","z":"79d2ea73.3ad7d4","service":"_ext_","configNode":"56eba699.071f88","name":"","collection":"digrep","operation":"save","x":698,"y":107,"wires":[["db14e893.6294b8"]]},{"id":"4e5d2113.d596f","type":"debug","z":"79d2ea73.3ad7d4","name":"Protocol Buffer AccountEntity","active":true,"console":"false","complete":"payload","x":785,"y":329,"wires":[]},{"id":"328f01fa.9239be","type":"debug","z":"79d2ea73.3ad7d4","name":"Protocol Buffer CreateAccountResponse","active":true,"console":"false","complete":"payload","x":1224,"y":328,"wires":[]},{"id":"e2b856c8.ac2cf8","type":"inject","z":"79d2ea73.3ad7d4","name":"Test Create account user","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":534,"wires":[["3ace7ef1.36ea72"]]},{"id":"3ace7ef1.36ea72","type":"function","z":"79d2ea73.3ad7d4","name":"FCreateAccountRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n    \"email\": \"testSergiuPetean@gmail.com\",\n    \"user\": true,\n    \"organizer\": false\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":434,"y":528,"wires":[["fd53784d.7cede8","db3d0a3a.27c888"]]},{"id":"fd53784d.7cede8","type":"http request","z":"79d2ea73.3ad7d4","name":"CALL Create account user","method":"PUT","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:1880/createAccount","tls":"","x":744,"y":530,"wires":[["328f01fa.9239be"]]},{"id":"1fb8c352.edcd7d","type":"inject","z":"79d2ea73.3ad7d4","name":"Test Create Account Organizer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167,"y":622,"wires":[["f0593b5e.1f7df8"]]},{"id":"f0593b5e.1f7df8","type":"function","z":"79d2ea73.3ad7d4","name":"FCreateAccountRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n    \"email\": \"testSergiuPetean@gmail.com\",\n    \"user\": false,\n    \"organizer\": true\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":436,"y":621,"wires":[["9b735c.325f7ca8","db3d0a3a.27c888"]]},{"id":"9b735c.325f7ca8","type":"http request","z":"79d2ea73.3ad7d4","name":"CALL Create account Organizer","method":"PUT","ret":"obj","url":"http://s4t.westeurope.cloudapp.azure.com:1880/createAccount","tls":"","x":751,"y":622,"wires":[["328f01fa.9239be"]]},{"id":"16b4e5ef.c550aa","type":"comment","z":"79d2ea73.3ad7d4","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":62,"y":477,"wires":[]},{"id":"db14e893.6294b8","type":"function","z":"79d2ea73.3ad7d4","name":"FCreateAccountResponse","func":"var req = flow.get('storedObj');\n\nvar newPayload = {\n    \"message\": \"Persistence failed !\"\n}\n\n// if (msg.payload.ok === 1) {\n    var userOrOrganizer = \"User Account \";\n    if (req.organizer === true) {userOrOrganizer = \"Organizer Account \";} \n    newPayload.message = \n        userOrOrganizer + req.useraccount + \" was successfully created with an initial credit of \" + req.credit; \n// }\n\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":"1","noerr":0,"x":1011,"y":102,"wires":[["f175e61b.8aaa08"]]},{"id":"9c9455d0.4cc168","type":"comment","z":"79d2ea73.3ad7d4","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":158,"y":246,"wires":[]},{"id":"db3d0a3a.27c888","type":"debug","z":"79d2ea73.3ad7d4","name":"Protocol Buffer CreateAccountRequest","active":true,"console":"false","complete":"payload","x":336,"y":327,"wires":[]},{"id":"6b514b06.9f6034","type":"inject","z":"b5a5f643.4f64d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.83335876464844,"y":398.9654235839844,"wires":[["9252abb9.203108"]]},{"id":"9252abb9.203108","type":"function","z":"b5a5f643.4f64d8","name":"","func":"var newPayload = {\n    \"usercode\": \"ion\"\n}\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":314.82640075683594,"y":399.6111145019531,"wires":[["5b3edc5c.70be74","e2cb195d.b5b0a8"]]},{"id":"5b3edc5c.70be74","type":"debug","z":"b5a5f643.4f64d8","name":"","active":true,"console":"false","complete":"false","x":309.82640075683594,"y":297.8750305175781,"wires":[]},{"id":"d3e887e.02a7378","type":"http in","z":"b5a5f643.4f64d8","name":"EventSubscribe","url":"/subscribeEvent","method":"post","swaggerDoc":"","x":172.8333740234375,"y":80.013916015625,"wires":[["a8a7e72a.ccb3c8"]]},{"id":"e2cb195d.b5b0a8","type":"http request","z":"b5a5f643.4f64d8","name":"EventSubscribe Call","method":"POST","ret":"obj","url":"nodered//subscribeEvent","tls":"","x":568.8264312744141,"y":397.3333435058594,"wires":[["e4c2f3f7.71294"]]},{"id":"e4c2f3f7.71294","type":"debug","z":"b5a5f643.4f64d8","name":"","active":true,"console":"false","complete":"false","x":797.8958740234375,"y":294.8888854980469,"wires":[]},{"id":"65da86bc.c0b7d8","type":"debug","z":"b5a5f643.4f64d8","name":"","active":true,"console":"false","complete":"payload","x":643.8958740234375,"y":126.88888549804688,"wires":[]},{"id":"a8a7e72a.ccb3c8","type":"function","z":"b5a5f643.4f64d8","name":"","func":"flow.set(\"storedObj\", msg.payload);\n\nvar findUserPayload = {\n    \"_id\": \"default\",\n}\n\nfindUserPayload.userCode = msg.payload.userCode;\n\nmsg.payload = findUserPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":394.83680725097656,"y":79.28125,"wires":[["d56da8d9.de9108","65da86bc.c0b7d8"]]},{"id":"d56da8d9.de9108","type":"mongodb2 in","z":"b5a5f643.4f64d8","service":"_ext_","configNode":"56eba699.071f88","name":"RetrieveUser from DB","collection":"digrep","operation":"findOne","x":651.8958129882812,"y":47,"wires":[["b793e30d.2ec6b"]]},{"id":"b793e30d.2ec6b","type":"function","z":"b5a5f643.4f64d8","name":"FCreateEventEntity","func":"var req = flow.get('storedObj');\n\nvar newPayload = {\n    \"userID\": \"default userID\",\n    \"eventID\": \"default eventID!\",\n    \"value\": 3\n}\n\nnewPayload.userID = msg.payload._id;\nnewPayload.eventID = req.eventID;\nnewPayload.value = req.value;\n\nmsg.payload = newPayload;\n\nflow.set('storedObj', msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":952.8958129882812,"y":69,"wires":[[]]},{"id":"b6dd36b5.73d958","type":"http in","z":"b5a5f643.4f64d8","name":"","url":"/salut","method":"get","swaggerDoc":"","x":102.84028625488281,"y":234,"wires":[["e4e5c138.c7c1"]]},{"id":"bc22f27f.6581a","type":"http response","z":"b5a5f643.4f64d8","name":"","x":383.84027099609375,"y":228.39236450195312,"wires":[]},{"id":"e4e5c138.c7c1","type":"function","z":"b5a5f643.4f64d8","name":"","func":"var pay = {\"message\":\"Salut IOnut!\"}\nmsg.payload = pay;\nreturn msg;","outputs":1,"noerr":0,"x":254.83680725097656,"y":200.51043701171875,"wires":[["bc22f27f.6581a"]]},{"id":"145c90eb.f045cf","type":"http in","z":"6bcd6b9f.538504","name":"POST Authenticate User","url":"/authenticate","method":"post","swaggerDoc":"","x":150.8958282470703,"y":81.88888549804688,"wires":[["2ee1f2fe.e246ae","427e54fc.f1b97c"]]},{"id":"2ee1f2fe.e246ae","type":"function","z":"6bcd6b9f.538504","name":"","func":"flow.set(\"storedPayload\", msg.payload);\n\nvar credentials = {\n    username: msg.payload.username,\n    password: msg.payload.password\n}\n\nvar findPayload = {};\n\nfindPayload.username = msg.payload.username,\n\nflow.set(\"credentials\", credentials);\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":366.8958282470703,"y":80.88888549804688,"wires":[["b6f2027.ede1"]]},{"id":"b6f2027.ede1","type":"mongodb2 in","z":"6bcd6b9f.538504","service":"_ext_","configNode":"56eba699.071f88","name":"Retrieve Account from DB","collection":"digrep","operation":"findOne","x":601.8958282470703,"y":48.888885498046875,"wires":[["6ef052df.ba79ec"]]},{"id":"6ef052df.ba79ec","type":"function","z":"6bcd6b9f.538504","name":"","func":"user = msg.payload;\n\nvar credentials = flow.get(\"credentials\");\nvar success = false;\nvar result = null;\n\nif (user) {\n    if (user.password === credentials.password) {\n        success = true;\n        result = user;\n    }\n}\n    \nnewPayload = {\n    endpoint: \"/authenticate\",\n    success: success,\n    result: result\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":818.8958282470703,"y":98.88888549804688,"wires":[["88658f5b.a6209"]]},{"id":"c6f9f339.1054b","type":"debug","z":"6bcd6b9f.538504","name":"","active":true,"console":"false","complete":"payload","x":550.8958282470703,"y":119.88888549804688,"wires":[]},{"id":"88658f5b.a6209","type":"http response","z":"6bcd6b9f.538504","name":"","x":1009.8958282470703,"y":98.88888549804688,"wires":[]},{"id":"427e54fc.f1b97c","type":"debug","z":"6bcd6b9f.538504","name":"","active":true,"console":"false","complete":"false","x":310.72918701171875,"y":149.22222900390625,"wires":[]},{"id":"677bf157.bf4d2","type":"http in","z":"b5a5f643.4f64d8","name":"POST Authenticate User","url":"/authenticate","method":"post","swaggerDoc":"","x":159.8958282470703,"y":987,"wires":[["d206f689.7a3e08","218dd1b2.b8597e"]]},{"id":"d206f689.7a3e08","type":"function","z":"b5a5f643.4f64d8","name":"","func":"flow.set(\"storedPayload\", msg.payload);\n\nvar credentials = {\n    username: msg.payload.username,\n    password: msg.payload.password\n}\n\nvar findPayload = {};\n\nfindPayload.username = msg.payload.username,\n\nflow.set(\"credentials\", credentials);\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":375.8958282470703,"y":986,"wires":[["7ca21bdf.e77ba4"]]},{"id":"7ca21bdf.e77ba4","type":"mongodb2 in","z":"b5a5f643.4f64d8","service":"_ext_","configNode":"56eba699.071f88","name":"Retrieve Account from DB","collection":"digrep","operation":"findOne","x":610.8958282470703,"y":954,"wires":[["d6f84d9b.8dbe2"]]},{"id":"d6f84d9b.8dbe2","type":"function","z":"b5a5f643.4f64d8","name":"","func":"user = msg.payload;\n\nvar credentials = flow.get(\"credentials\");\nvar success = false;\nvar result = null;\n\nif (user) {\n    if (user.password === credentials.password) {\n        success = true;\n        result = user;\n    }\n}\n    \nnewPayload = {\n    endpoint: \"/authenticate\",\n    success: success,\n    result: result\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":827.8958282470703,"y":1004,"wires":[["32755a50.0ca5d6"]]},{"id":"e54281a2.758c5","type":"debug","z":"b5a5f643.4f64d8","name":"","active":true,"console":"false","complete":"payload","x":559.8958282470703,"y":1025,"wires":[]},{"id":"32755a50.0ca5d6","type":"http response","z":"b5a5f643.4f64d8","name":"","x":1018.8958282470703,"y":1004,"wires":[]},{"id":"218dd1b2.b8597e","type":"debug","z":"b5a5f643.4f64d8","name":"","active":true,"console":"false","complete":"false","x":319.72918701171875,"y":1054.3333435058594,"wires":[]},{"id":"dbcd6e1f.44bda","type":"function","z":"546e59d4.1b9b28","name":"","func":"flow.set(\"storedPayload\", msg.payload);\n\nvar findPayload = {\n\n}\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":253.10419464111328,"y":117.88888549804688,"wires":[["588f7943.191748","27f77206.2ac15e"]]},{"id":"588f7943.191748","type":"mongodb2 in","z":"546e59d4.1b9b28","service":"_ext_","configNode":"56eba699.071f88","name":"Retrieve Accounts from DB","collection":"digrep","operation":"find.toArray","x":482.1041946411133,"y":84.88888549804688,"wires":[["7fb98817.2d3668"]]},{"id":"7fb98817.2d3668","type":"function","z":"546e59d4.1b9b28","name":"","func":"newPayload = {\n    endpoint: \"/accounts\",\n    result: msg.payload\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":717.1041946411133,"y":114.88888549804688,"wires":[["4e650f45.ea02f"]]},{"id":"27f77206.2ac15e","type":"debug","z":"546e59d4.1b9b28","name":"","active":true,"console":"false","complete":"payload","x":437.1041946411133,"y":169.88888549804688,"wires":[]},{"id":"4e650f45.ea02f","type":"http response","z":"546e59d4.1b9b28","name":"","x":930.1041946411133,"y":114.88888549804688,"wires":[]},{"id":"7df5bb6e.af56e4","type":"http in","z":"546e59d4.1b9b28","name":"GET accounts pe steroizi","url":"/accounts","method":"get","swaggerDoc":"","x":115,"y":269.77779960632324,"wires":[["665975f1.68f4cc"]]},{"id":"665975f1.68f4cc","type":"function","z":"546e59d4.1b9b28","name":"","func":"flow.set(\"storedPayload\", msg.payload);\n\nvar findPayload = [{\n\n}, {\n    \"_id\": 0,\n    \"password\": 0\n}];\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":352.00000762939453,"y":271.7777805328369,"wires":[["bffae41.94b3118","1b800c0f.8af3b4"]]},{"id":"bffae41.94b3118","type":"mongodb2 in","z":"546e59d4.1b9b28","service":"_ext_","configNode":"56eba699.071f88","name":"Retrieve Accounts from DB","collection":"digrep","operation":"find.toArray","x":619.0000076293945,"y":226.77783203125,"wires":[["11c3f129.236b4f"]]},{"id":"11c3f129.236b4f","type":"function","z":"546e59d4.1b9b28","name":"","func":"newPayload = {\n    endpoint: \"/accounts\",\n    result: msg.payload\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":854.0000076293945,"y":256.77783203125,"wires":[["1b62ea22.b062c6"]]},{"id":"1b800c0f.8af3b4","type":"debug","z":"546e59d4.1b9b28","name":"","active":true,"console":"false","complete":"payload","x":574.0000076293945,"y":311.77783203125,"wires":[]},{"id":"1b62ea22.b062c6","type":"http response","z":"546e59d4.1b9b28","name":"","x":1067.0000076293945,"y":256.77783203125,"wires":[]},{"id":"1ef4a7b7.a45d78","type":"http in","z":"546e59d4.1b9b28","name":"GET accounts","url":"/accounts","method":"get","swaggerDoc":"","x":76.89582824707031,"y":115.88889122009277,"wires":[["dbcd6e1f.44bda"]]}]