docker/nodered/flows_31.03.17.txt
[{"id":"97d31c68.53b4","type":"tab","label":"DR - CreateAccount"},{"id":"2f23fe81.067292","type":"tab","label":"DR - Credentials Authenticatation"},{"id":"26d21295.9cb6fe","type":"tab","label":"DR - TOKEN Authentication"},{"id":"495e8f3a.0ea2b","type":"tab","label":"DR - RetrieveAccounts"},{"id":"4b4cab9d.39f224","type":"tab","label":"DR - CreateEvent"},{"id":"73f71bbb.3fb324","type":"tab","label":"DR - RetrieveEvents"},{"id":"692faab0.752134","type":"tab","label":"DR - GetEvent"},{"id":"f3b1ea97.c52f28","type":"tab","label":"Experiments - GET Headers and Query"},{"id":"a42211dc.e3ded","type":"tab","label":"Flow 1"},{"id":"b8a2aec0.f6faa","type":"mqtt-broker","z":"","broker":"reindeer.rmq.cloudamqp.com","port":"5672","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"test","willQos":"0","willPayload":"","birthTopic":"test","birthQos":"0","birthPayload":""},{"id":"6fdd5ff5.23ef7","type":"mqtt-broker","z":"","broker":"reindeer.rmq.cloudamqp.com","port":"5671","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"afd14e02.f8882","type":"mqtt-broker","z":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"82312276.115e8","type":"mqtt-broker","z":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3174ba5.22a3d46","type":"mqtt-broker","z":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"433e29d.a7785d8","type":"mongodb2","z":"","uri":"mongodb://mongodb:27017/s4t","name":"host-s4t","options":"","parallelism":"-1"},{"id":"12acbe5b.546fd2","type":"comment","z":"4b4cab9d.39f224","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":76.00003051757812,"y":714.9999923706055,"wires":[]},{"id":"dca1feeb.f40a4","type":"http in","z":"4b4cab9d.39f224","name":"PUT /createEvent","url":"/createEvent","method":"put","swaggerDoc":"","x":114.00003051757812,"y":333.99999237060547,"wires":[["7bb1c7df.15d6f8"]]},{"id":"7bb1c7df.15d6f8","type":"function","z":"4b4cab9d.39f224","name":"FAuthenticate","func":"flow.set('storedObj', msg.payload);\n\nvar authenticatePayload = {\n    \"username\": \"default\",\n    \"password\": \"default\"\n}\n\nauthenticatePayload.username = msg.payload.username;\nauthenticatePayload.password = msg.payload.password;\n\nmsg.payload = authenticatePayload;\nreturn msg;","outputs":"1","noerr":0,"x":351.0000305175781,"y":333.99999237060547,"wires":[["70ee925.4a8ea6c","c271184c.ecaf38"]]},{"id":"42706739.788028","type":"http response","z":"4b4cab9d.39f224","name":"CreateEventResponse","x":1428.0000305175781,"y":345.99999237060547,"wires":[]},{"id":"4623caf4.e4cca4","type":"comment","z":"4b4cab9d.39f224","name":"REST API & Persistence","info":"","x":136.00003051757812,"y":264.99999237060547,"wires":[]},{"id":"c72ff7b5.1d7b18","type":"debug","z":"4b4cab9d.39f224","name":"Protocol Buffer CreateEventEntity","active":true,"console":"false","complete":"payload","x":963.0000915527344,"y":552.0000228881836,"wires":[]},{"id":"6097a2d3.14b6bc","type":"debug","z":"4b4cab9d.39f224","name":"Protocol Buffer CreateAccountResponse","active":true,"console":"false","complete":"payload","x":1375.0000305175781,"y":551.0000534057617,"wires":[]},{"id":"6fe02dd6.a9d004","type":"inject","z":"4b4cab9d.39f224","name":"Test Create event successful","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":184.00003051757812,"y":771.9999923706055,"wires":[["133f4fe8.f0bfd"]]},{"id":"133f4fe8.f0bfd","type":"function","z":"4b4cab9d.39f224","name":"FCreateEventRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n    \"eventID\": \"testEvent\",\n    \"value\": 3\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":593.0000915527344,"y":778.9999809265137,"wires":[["6fb40f8e.325cf","c258388c.8fe5e8"]]},{"id":"6fb40f8e.325cf","type":"http request","z":"4b4cab9d.39f224","name":"CALL Create event","method":"PUT","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/createEvent","tls":"","x":899.0000915527344,"y":779.9999809265137,"wires":[["6097a2d3.14b6bc"]]},{"id":"128ede56.9f9792","type":"function","z":"4b4cab9d.39f224","name":"FCreateEventEntity","func":"//Event Registration QR code\nfunction generateQR(event) {\n   return \"Fake QR\";\n}\n\nvar req = flow.get('storedObj');\n\n\nvar createEventPayload = {\n    userID: \"default userID\",\n    eventID: \"default eventID!\",\n    qr: \"default QR\",\n    value: 3\n}\n\ncreateEventPayload.userID = msg.payload.result._id;\ncreateEventPayload.eventID = req.eventID;\ncreateEventPayload.qr = generateQR(req);\ncreateEventPayload.value = req.value;\n\nmsg.payload = createEventPayload;\n\nflow.set('storedObj', msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":953.0000915527344,"y":195.99999237060547,"wires":[["c72ff7b5.1d7b18","d0a0db19.ff1aa8"]]},{"id":"29d8bceb.e20984","type":"comment","z":"4b4cab9d.39f224","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":172.00003051757812,"y":483.99999237060547,"wires":[]},{"id":"c258388c.8fe5e8","type":"debug","z":"4b4cab9d.39f224","name":"Protocol Buffer CreateAccountRequest","active":true,"console":"false","complete":"payload","x":207.00003051757812,"y":559.0000228881836,"wires":[]},{"id":"70ee925.4a8ea6c","type":"debug","z":"4b4cab9d.39f224","name":"Protocol Buffer FindUserEntity","active":true,"console":"false","complete":"payload","x":585.0000305175781,"y":556.9999923706055,"wires":[]},{"id":"d0a0db19.ff1aa8","type":"mongodb2 in","z":"4b4cab9d.39f224","service":"_ext_","configNode":"433e29d.a7785d8","name":"SaveEventEntity collection events","collection":"events","operation":"save","x":1145.0002136230469,"y":104,"wires":[["58a25e22.8cdc2"]]},{"id":"58a25e22.8cdc2","type":"function","z":"4b4cab9d.39f224","name":"FCreateEventResponse","func":"var req = flow.get('storedObj');\n\nvar event = {\n    message: \"CreateEvent failed!\",\n    url: \"http://digitalreputation.westeurope.cloudapp.azure.com:1880/event/{id}\",\n    qr: \"qrcode\"\n}\nvar createEventResponsePayload = {\n    endpoint: \"/createEvent\",\n    success: false,\n    result: event,\n}\n\n// if (msg.payload.ok == 1) {\n    createEventResponsePayload.result.message = \n        \"Event was successfully created with a value of \" + req.value;\n// }\n\nmsg.payload = createEventResponsePayload;\n\nreturn msg;","outputs":"1","noerr":0,"x":1251.0000305175781,"y":193.99999237060547,"wires":[["42706739.788028"]]},{"id":"e5b298bc.5820f8","type":"http in","z":"97d31c68.53b4","name":"PUT /createAccount","url":"/createAccount","method":"put","swaggerDoc":"","x":145,"y":105,"wires":[["3c11f04b.7e70d"]]},{"id":"3c11f04b.7e70d","type":"function","z":"97d31c68.53b4","name":"FPersist","func":"function generateToken(req){\n    return \"testToken\";\n}\n\nmsg.payload[\"credit\"] = 20;\n\nif (msg.payload.organizer === true) {\n    msg.payload[\"credit\"] = 100;\n}\n\nmsg.payload[\"useraccount\"] = msg.payload.email;\nmsg.payload[\"token\"] = generateToken(msg.payload);\n\nflow.set('storedObj', msg.payload);\n\nreturn msg;","outputs":"1","noerr":0,"x":389,"y":103,"wires":[["69100745.497138","c596a2e9.d3c44"]]},{"id":"d3f83ef3.3c2a2","type":"http response","z":"97d31c68.53b4","name":"CreateAccountResponse","x":1259,"y":20,"wires":[]},{"id":"1b6d1cfe.9eee83","type":"comment","z":"97d31c68.53b4","name":"REST API & Persistence","info":"","x":122,"y":27,"wires":[]},{"id":"69100745.497138","type":"mongodb2 in","z":"97d31c68.53b4","service":"_ext_","configNode":"433e29d.a7785d8","name":"Create Account collection accounts","collection":"accounts","operation":"save","x":728,"y":107,"wires":[["37ad3ee9.12db82"]]},{"id":"c596a2e9.d3c44","type":"debug","z":"97d31c68.53b4","name":"Protocol Buffer AccountEntity","active":true,"console":"false","complete":"payload","x":785,"y":329,"wires":[]},{"id":"d26efed1.57f6f","type":"debug","z":"97d31c68.53b4","name":"Protocol Buffer CreateAccountResponse","active":true,"console":"false","complete":"payload","x":1224,"y":328,"wires":[]},{"id":"c7bab87d.f98758","type":"inject","z":"97d31c68.53b4","name":"Test Create account user","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":534,"wires":[["ad02017b.d23aa"]]},{"id":"ad02017b.d23aa","type":"function","z":"97d31c68.53b4","name":"FCreateAccountRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n    \"email\": \"testSergiuPetean@gmail.com\",\n    \"user\": true,\n    \"organizer\": false\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":434,"y":528,"wires":[["a682aa89.a03128","4da5eeb1.cd4e4"]]},{"id":"a682aa89.a03128","type":"http request","z":"97d31c68.53b4","name":"CALL Create account user","method":"PUT","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/createAccount","tls":"","x":744,"y":530,"wires":[["d26efed1.57f6f"]]},{"id":"957c8343.9386c","type":"inject","z":"97d31c68.53b4","name":"Test Create Account Organizer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167,"y":622,"wires":[["8660e32.d8c642"]]},{"id":"8660e32.d8c642","type":"function","z":"97d31c68.53b4","name":"FCreateAccountRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n    \"email\": \"testSergiuPetean@gmail.com\",\n    \"user\": false,\n    \"organizer\": true\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":436,"y":621,"wires":[["9838d34.ca4e83","4da5eeb1.cd4e4"]]},{"id":"9838d34.ca4e83","type":"http request","z":"97d31c68.53b4","name":"CALL Create account Organizer","method":"PUT","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/createAccount","tls":"","x":751,"y":622,"wires":[["d26efed1.57f6f"]]},{"id":"d3babaa4.9db708","type":"comment","z":"97d31c68.53b4","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":62,"y":477,"wires":[]},{"id":"37ad3ee9.12db82","type":"function","z":"97d31c68.53b4","name":"FCreateAccountResponse","func":"var req = flow.get('storedObj');\n\nvar newPayload = {\n    endpoint: \"/createAccount\",\n    success: false,\n    message: \"Persistence failed !\"\n}\n\n// if (msg.payload.ok === 1) {\n    var userOrOrganizer = \"User Account \";\n    if (req.organizer === true) {userOrOrganizer = \"Organizer Account \";} \n    newPayload.message = \n        userOrOrganizer + req.useraccount + \" was successfully created with an initial credit of \" + req.credit; \n// }\n\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":"1","noerr":0,"x":1011,"y":102,"wires":[["d3f83ef3.3c2a2"]]},{"id":"1dce8b70.8ef6d5","type":"comment","z":"97d31c68.53b4","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":158,"y":246,"wires":[]},{"id":"4da5eeb1.cd4e4","type":"debug","z":"97d31c68.53b4","name":"Protocol Buffer CreateAccountRequest","active":true,"console":"false","complete":"payload","x":336,"y":327,"wires":[]},{"id":"7a020325.c1721c","type":"inject","z":"a42211dc.e3ded","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.83335876464844,"y":398.9654235839844,"wires":[["a295f70d.014a68"]]},{"id":"a295f70d.014a68","type":"function","z":"a42211dc.e3ded","name":"","func":"var newPayload = {\n    \"usercode\": \"ion\"\n}\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":314.82640075683594,"y":399.6111145019531,"wires":[["43b667c6.091c68","c5f40cc2.53a87"]]},{"id":"43b667c6.091c68","type":"debug","z":"a42211dc.e3ded","name":"","active":true,"console":"false","complete":"false","x":309.82640075683594,"y":297.8750305175781,"wires":[]},{"id":"6b74d1a7.f206","type":"http in","z":"a42211dc.e3ded","name":"EventSubscribe","url":"/subscribeEvent","method":"post","swaggerDoc":"","x":172.8333740234375,"y":80.013916015625,"wires":[["e7cb3fac.7531a"]]},{"id":"c5f40cc2.53a87","type":"http request","z":"a42211dc.e3ded","name":"EventSubscribe Call","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/subscribeEvent","tls":"","x":568.8264312744141,"y":397.3333435058594,"wires":[["a50f4457.0e0358"]]},{"id":"a50f4457.0e0358","type":"debug","z":"a42211dc.e3ded","name":"","active":true,"console":"false","complete":"false","x":797.8958740234375,"y":294.8888854980469,"wires":[]},{"id":"26396171.d8caae","type":"debug","z":"a42211dc.e3ded","name":"","active":true,"console":"false","complete":"payload","x":643.8958740234375,"y":126.88888549804688,"wires":[]},{"id":"e7cb3fac.7531a","type":"function","z":"a42211dc.e3ded","name":"","func":"flow.set(\"storedObj\", msg.payload);\n\nvar findUserPayload = {\n    \"_id\": \"default\",\n}\n\nfindUserPayload.userCode = msg.payload.userCode;\n\nmsg.payload = findUserPayload;\nreturn msg;\n","outputs":1,"noerr":0,"x":394.83680725097656,"y":79.28125,"wires":[["b72bfe20.e5003","26396171.d8caae"]]},{"id":"b72bfe20.e5003","type":"mongodb2 in","z":"a42211dc.e3ded","service":"_ext_","configNode":"433e29d.a7785d8","name":"RetrieveUser from DB","collection":"digrep","operation":"findOne","x":651.8958129882812,"y":47,"wires":[["cc326f76.7b63c"]]},{"id":"cc326f76.7b63c","type":"function","z":"a42211dc.e3ded","name":"FCreateEventEntity","func":"var req = flow.get('storedObj');\n\nvar newPayload = {\n    \"userID\": \"default userID\",\n    \"eventID\": \"default eventID!\",\n    \"value\": 3\n}\n\nnewPayload.userID = msg.payload._id;\nnewPayload.eventID = req.eventID;\nnewPayload.value = req.value;\n\nmsg.payload = newPayload;\n\nflow.set('storedObj', msg.payload);\nreturn msg;","outputs":"1","noerr":0,"x":952.8958129882812,"y":69,"wires":[[]]},{"id":"bd10f0d5.c1154","type":"http in","z":"a42211dc.e3ded","name":"","url":"/salut","method":"get","swaggerDoc":"","x":102.84028625488281,"y":234,"wires":[["e51e5e07.9041c"]]},{"id":"99a8024b.38dca","type":"http response","z":"a42211dc.e3ded","name":"","x":383.84027099609375,"y":228.39236450195312,"wires":[]},{"id":"e51e5e07.9041c","type":"function","z":"a42211dc.e3ded","name":"","func":"var pay = {\"message\":\"Salut IOnut!\"}\nmsg.payload = pay;\nreturn msg;","outputs":1,"noerr":0,"x":254.83680725097656,"y":200.51043701171875,"wires":[["99a8024b.38dca"]]},{"id":"8ef5bb7c.206bc8","type":"http in","z":"2f23fe81.067292","name":"POST /authenticate","url":"/authenticate","method":"post","swaggerDoc":"","x":130.8958282470703,"y":131.88888549804688,"wires":[["d688585a.623328"]]},{"id":"d688585a.623328","type":"function","z":"2f23fe81.067292","name":"FUserEntity","func":"var userReuqest = {\n    username: msg.payload.username,\n    password: msg.payload.password\n}\nflow.set(\"userReuqest\", userReuqest);\n\nvar findPayload = {};\nfindPayload.username = msg.payload.username,\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":386.8958282470703,"y":130.88888549804688,"wires":[["a5200fc4.cec","22ede06.e79b82"]]},{"id":"a5200fc4.cec","type":"mongodb2 in","z":"2f23fe81.067292","service":"_ext_","configNode":"433e29d.a7785d8","name":"Retrieve Account collection accounts","collection":"accounts","operation":"findOne","x":641.8958282470703,"y":98.88888549804688,"wires":[["7d441f86.2b354","22ede06.e79b82"]]},{"id":"7d441f86.2b354","type":"function","z":"2f23fe81.067292","name":"FAuthenticateResponse","func":"//user can not be null so it is safe to use it\nvar userReuqest = flow.get(\"userReuqest\");\nuserEntity = msg.payload;\n\nresultPayload = {\n    endpoint: \"/authenticate\",\n    success: false,\n    result: \"User \" + userReuqest.username + \n    \" could not be authenticated!\"\n};\n\nif (userEntity) {\n    if (userEntity.password === userReuqest.password) {\n        resultPayload.success = true;\n        resultPayload.result = userEntity;\n    } else {\n        resultPayload.result = \"Password invalid !\";\n    }\n}\n\nmsg.payload = resultPayload;\nreturn msg;","outputs":1,"noerr":0,"x":878.8958282470703,"y":148.88888549804688,"wires":[["964fef41.5bacd"]]},{"id":"3b34e93.8af6c16","type":"http in","z":"a42211dc.e3ded","name":"POST Authenticate User","url":"/authenticate","method":"post","swaggerDoc":"","x":115,"y":631,"wires":[["1abc8a0b.fbdff6","846ea1e6.2c598"]]},{"id":"1abc8a0b.fbdff6","type":"function","z":"a42211dc.e3ded","name":"","func":"flow.set(\"storedPayload\", msg.payload);\n\nvar credentials = {\n    username: msg.payload.username,\n    password: msg.payload.password\n}\n\nvar findPayload = {};\n\nfindPayload.username = msg.payload.username,\n\nflow.set(\"credentials\", credentials);\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":630,"wires":[["da75827c.551f6"]]},{"id":"da75827c.551f6","type":"mongodb2 in","z":"a42211dc.e3ded","service":"_ext_","configNode":"433e29d.a7785d8","name":"Retrieve Account from DB","collection":"digrep","operation":"findOne","x":566,"y":598,"wires":[["9f8235ba.dc0858"]]},{"id":"9f8235ba.dc0858","type":"function","z":"a42211dc.e3ded","name":"","func":"user = msg.payload;\n\nvar credentials = flow.get(\"credentials\");\nvar success = false;\nvar result = null;\n\nif (user) {\n    if (user.password === credentials.password) {\n        success = true;\n        result = user;\n    }\n}\n    \nnewPayload = {\n    endpoint: \"/authenticate\",\n    success: success,\n    result: result\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":1,"noerr":0,"x":783,"y":648,"wires":[["758247a5.543008"]]},{"id":"f6cd0b95.23b158","type":"debug","z":"a42211dc.e3ded","name":"","active":true,"console":"false","complete":"payload","x":515,"y":669,"wires":[]},{"id":"758247a5.543008","type":"http response","z":"a42211dc.e3ded","name":"","x":974,"y":648,"wires":[]},{"id":"846ea1e6.2c598","type":"debug","z":"a42211dc.e3ded","name":"","active":true,"console":"false","complete":"false","x":274.83335876464844,"y":698.3333435058594,"wires":[]},{"id":"58f0033b.09865c","type":"comment","z":"495e8f3a.0ea2b","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":87,"y":504,"wires":[]},{"id":"5b37fc3a.2bde34","type":"http in","z":"495e8f3a.0ea2b","name":"POST /accounts","url":"/accounts","method":"post","swaggerDoc":"","x":89,"y":103,"wires":[["290df0d5.9237a"]]},{"id":"a04f9a56.5c63f8","type":"function","z":"495e8f3a.0ea2b","name":"FAccounts","func":"flow.set('storedObj', msg.payload);\n\n\nvar retrieveAccountsPayload = {\n\n}\n\nmsg.payload = retrieveAccountsPayload;\nreturn msg;","outputs":"1","noerr":0,"x":844.0000305175781,"y":53,"wires":[["e6cd6870.7246a8","6326f5cb.a71d4c"]]},{"id":"378b5409.5fd62c","type":"http response","z":"495e8f3a.0ea2b","name":"EventsResponse","x":1412.0000305175781,"y":150.99999237060547,"wires":[]},{"id":"62131654.807548","type":"comment","z":"495e8f3a.0ea2b","name":"REST API & Persistence","info":"","x":147,"y":54,"wires":[]},{"id":"e6cd6870.7246a8","type":"mongodb2 in","z":"495e8f3a.0ea2b","service":"_ext_","configNode":"433e29d.a7785d8","name":"Retrieve Accounts collection accounts","collection":"accounts","operation":"find.toArray","x":1123.0001525878906,"y":22,"wires":[["4d1b0636.f40258","c4c37b45.edae68"]]},{"id":"e3ee1c8.83a12e","type":"debug","z":"495e8f3a.0ea2b","name":"ProtocolBuffer Resposes","active":true,"console":"false","complete":"payload","x":960.0000915527344,"y":354.99999237060547,"wires":[]},{"id":"93ed96c0.3233d8","type":"inject","z":"495e8f3a.0ea2b","name":"Test Accounts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135,"y":561,"wires":[["a6a29fbf.c4a75"]]},{"id":"a6a29fbf.c4a75","type":"function","z":"495e8f3a.0ea2b","name":"FCreateAccountRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\"\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":451,"y":563,"wires":[["d1bd4684.95da08","6326f5cb.a71d4c"]]},{"id":"d1bd4684.95da08","type":"http request","z":"495e8f3a.0ea2b","name":"CALL Accounts","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/accounts","tls":"","x":737,"y":564,"wires":[["e3ee1c8.83a12e"]]},{"id":"4d1b0636.f40258","type":"function","z":"495e8f3a.0ea2b","name":"FAccountsResponse","func":"var req = flow.get('storedObj');\nnewPayload = {\n    endpoint: \"/accounts\",\n    success: true,\n    result: msg.payload\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":"1","noerr":0,"x":1402.0000305175781,"y":53,"wires":[["378b5409.5fd62c"]]},{"id":"c7b7a297.a41ad","type":"comment","z":"495e8f3a.0ea2b","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":183,"y":273,"wires":[]},{"id":"6326f5cb.a71d4c","type":"debug","z":"495e8f3a.0ea2b","name":"ProtocolBuffer Requests","active":true,"console":"false","complete":"payload","x":497.0000305175781,"y":351.99999237060547,"wires":[]},{"id":"c4c37b45.edae68","type":"debug","z":"495e8f3a.0ea2b","name":"ProtocolBuffer Entities","active":true,"console":"false","complete":"payload","x":715.0000305175781,"y":278.99999237060547,"wires":[]},{"id":"22ede06.e79b82","type":"debug","z":"2f23fe81.067292","name":"Protocol Buffer AccountEntity","active":true,"console":"false","complete":"payload","x":787,"y":382,"wires":[]},{"id":"cfeb6c66.ae5b7","type":"debug","z":"2f23fe81.067292","name":"Protocol Buffer CreateAccountResponse","active":true,"console":"false","complete":"payload","x":1226,"y":381,"wires":[]},{"id":"b8d936f7.677cc8","type":"inject","z":"2f23fe81.067292","name":"Test Authenticate Successful","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":162,"y":587,"wires":[["4831a744.d9a498"]]},{"id":"4831a744.d9a498","type":"function","z":"2f23fe81.067292","name":"FAuthenticateSuccessful","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\",\n};\nreturn msg;","outputs":"1","noerr":0,"x":468,"y":585.0000228881836,"wires":[["15c9a589.219fda","d259e26a.b0a9f"]]},{"id":"15c9a589.219fda","type":"http request","z":"2f23fe81.067292","name":"CALL Authenticate","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":716.0000305175781,"y":590.0000228881836,"wires":[["cfeb6c66.ae5b7"]]},{"id":"c778106a.dfe3b","type":"comment","z":"2f23fe81.067292","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":64,"y":530,"wires":[]},{"id":"51aef0bd.14ac9","type":"comment","z":"2f23fe81.067292","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":160,"y":299,"wires":[]},{"id":"d259e26a.b0a9f","type":"debug","z":"2f23fe81.067292","name":"Protocol Buffer CreateAccountRequest","active":true,"console":"false","complete":"payload","x":338,"y":380,"wires":[]},{"id":"f1d9ced3.e4e2c","type":"comment","z":"2f23fe81.067292","name":"Digital Reputation REST API / Persistence","info":"The Protocol Buffers of DigRep Service","x":190,"y":37,"wires":[]},{"id":"964fef41.5bacd","type":"http response","z":"2f23fe81.067292","name":"AuthenticateResponse","x":1173.8958129882812,"y":148.88888549804688,"wires":[]},{"id":"c271184c.ecaf38","type":"http request","z":"4b4cab9d.39f224","name":"CALL Authenticate","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":580.000244140625,"y":335.9999885559082,"wires":[["fbd9bd71.f8ef3"]]},{"id":"290df0d5.9237a","type":"function","z":"495e8f3a.0ea2b","name":"FAuthenticate","func":"flow.set('storedObj', msg.payload);\n\nvar authenticatePayload = {\n    \"username\": \"default\",\n    \"password\": \"default\"\n}\n\nauthenticatePayload.username = msg.payload.username;\nauthenticatePayload.password = msg.payload.password;\n\nmsg.payload = authenticatePayload;\nreturn msg;","outputs":"1","noerr":0,"x":295,"y":169.99999237060547,"wires":[["44b97043.d17d5","6326f5cb.a71d4c"]]},{"id":"44b97043.d17d5","type":"http request","z":"495e8f3a.0ea2b","name":"CALL Authenticate","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":545.0000305175781,"y":170.99999237060547,"wires":[["c3d54552.c92278"]]},{"id":"c3d54552.c92278","type":"switch","z":"495e8f3a.0ea2b","name":"isAuthenticated","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":770.0002136230469,"y":173.9999771118164,"wires":[["a04f9a56.5c63f8"],["9425dad0.039cf8"]]},{"id":"9425dad0.039cf8","type":"function","z":"495e8f3a.0ea2b","name":"FAccountsFailedResponse","func":"var req = flow.get('storedObj');\ngetAccountsFailedPayload = {\n    endpoint: \"/accounts\",\n    success: false,\n    result: msg.payload\n};\n\nmsg.payload = getAccountsFailedPayload;\nreturn msg;","outputs":"1","noerr":0,"x":1381.9333801269531,"y":251.93331146240234,"wires":[["378b5409.5fd62c"]]},{"id":"fbd9bd71.f8ef3","type":"switch","z":"4b4cab9d.39f224","name":"isAuthenticated","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":812.9335632324219,"y":335.9333076477051,"wires":[["128ede56.9f9792"],["32240893.928578"]]},{"id":"32240893.928578","type":"function","z":"4b4cab9d.39f224","name":"FCreateEventFailedResponse","func":"var req = flow.get('storedObj');\n\nvar createEventResponsePayload = {\n    endpoint: \"/createEvent\",\n    success: false,\n    result: \"CreateEvent failed!\"\n}\n\n// if (msg.payload.ok == 1) {\n    createEventResponsePayload.result = msg.payload.result;\n// }\n\nmsg.payload = createEventResponsePayload;\n\nreturn msg;","outputs":"1","noerr":0,"x":1249.933349609375,"y":429.9333190917969,"wires":[["42706739.788028"]]},{"id":"102dba56.742ef6","type":"inject","z":"4b4cab9d.39f224","name":"Test Create event authentification fails","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":203.93331909179688,"y":845.7999877929688,"wires":[["a8db4208.594b5"]]},{"id":"c06e2dc5.f7ea7","type":"http request","z":"4b4cab9d.39f224","name":"CALL Create event","method":"PUT","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/createEvent","tls":"","x":888.9333801269531,"y":853.799976348877,"wires":[["6097a2d3.14b6bc"]]},{"id":"a8db4208.594b5","type":"function","z":"4b4cab9d.39f224","name":"FCreateEventRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"passFALSE\",\n    \"eventID\": \"testEvent\",\n    \"value\": 3\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":582.9334106445312,"y":846.799976348877,"wires":[["c06e2dc5.f7ea7"]]},{"id":"9370128e.27eec","type":"http request","z":"2f23fe81.067292","name":"CALL Authenticate","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":716.9333801269531,"y":660.9333724975586,"wires":[["cfeb6c66.ae5b7"]]},{"id":"2c198f7d.f8eca","type":"inject","z":"2f23fe81.067292","name":"Test Authenticate Fails Wrong Pass","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183.93331909179688,"y":664.9333267211914,"wires":[["7f95adc.0fc2354"]]},{"id":"7f95adc.0fc2354","type":"function","z":"2f23fe81.067292","name":"FAuthenticateFails","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"passFALSE\",\n};\nreturn msg;","outputs":"1","noerr":0,"x":464.933349609375,"y":660.9333724975586,"wires":[["9370128e.27eec"]]},{"id":"9ae42bf1.099948","type":"http request","z":"2f23fe81.067292","name":"CALL Authenticate","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":718.0000610351562,"y":736.933349609375,"wires":[["cfeb6c66.ae5b7"]]},{"id":"86069690.8a54b8","type":"inject","z":"2f23fe81.067292","name":"Test Authenticate Fails No User","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175,"y":740.9333038330078,"wires":[["88bb9e9.ddfb56"]]},{"id":"88bb9e9.ddfb56","type":"function","z":"2f23fe81.067292","name":"FAuthenticateFails","func":"msg.payload = {\n    \"username\": \"sergiuFALSE\", \n    \"password\": \"pass\",\n};\nreturn msg;","outputs":"1","noerr":0,"x":466.0000305175781,"y":736.933349609375,"wires":[["9ae42bf1.099948"]]},{"id":"92a657dc.9bc0a8","type":"inject","z":"495e8f3a.0ea2b","name":"Test Accounts Authentication Fails","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200.93331909179688,"y":640.933349609375,"wires":[["f0d9cf7.527c13"]]},{"id":"f0d9cf7.527c13","type":"function","z":"495e8f3a.0ea2b","name":"FAccountsRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"passFALSE\"\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":494.933349609375,"y":642.9333724975586,"wires":[["16339ed4.ef7211","6326f5cb.a71d4c"]]},{"id":"16339ed4.ef7211","type":"http request","z":"495e8f3a.0ea2b","name":"CALL Accounts","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/accounts","tls":"","x":762.9333801269531,"y":639.9333724975586,"wires":[["e3ee1c8.83a12e"]]},{"id":"d9e0fdda.74d98","type":"comment","z":"73f71bbb.3fb324","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":87.93331909179688,"y":532.9999923706055,"wires":[]},{"id":"95603fa8.41e32","type":"http in","z":"73f71bbb.3fb324","name":"POST /events","url":"/events","method":"post","swaggerDoc":"","x":79.93331909179688,"y":131.99999237060547,"wires":[["1c978c66.53b9b4"]]},{"id":"f573abd0.00ec08","type":"function","z":"73f71bbb.3fb324","name":"FEvents","func":"flow.set('storedObj', msg.payload);\n\n\nvar retrieveAccountsPayload = {\n\n}\n\nmsg.payload = retrieveAccountsPayload;\nreturn msg;","outputs":"1","noerr":0,"x":761.933349609375,"y":81.99999237060547,"wires":[["6dc46089.1db14","4533b84f.ed0198"]]},{"id":"13582b5a.4db405","type":"http response","z":"73f71bbb.3fb324","name":"EventsResponse","x":1413.933349609375,"y":179.99998474121094,"wires":[]},{"id":"408503c8.1b0e7c","type":"comment","z":"73f71bbb.3fb324","name":"REST API & Persistence","info":"","x":147.93331909179688,"y":82.99999237060547,"wires":[]},{"id":"6dc46089.1db14","type":"mongodb2 in","z":"73f71bbb.3fb324","service":"_ext_","configNode":"433e29d.a7785d8","name":"RetrieveEvents collection events","collection":"events","operation":"find.toArray","x":1064.9334106445312,"y":82.99999237060547,"wires":[["69a19b90.fc7cc4"]]},{"id":"2c01bc02.21a8a4","type":"debug","z":"73f71bbb.3fb324","name":"Protocol Buffer Responses","active":true,"console":"false","complete":"payload","x":1074.9335632324219,"y":379.99999237060547,"wires":[]},{"id":"6abc38b0.15da08","type":"inject","z":"73f71bbb.3fb324","name":"Test Events","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":135.93331909179688,"y":589.9999923706055,"wires":[["68f0baa4.7d8bf4"]]},{"id":"68f0baa4.7d8bf4","type":"function","z":"73f71bbb.3fb324","name":"FEventsRequest","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"pass\"\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":421.9333190917969,"y":591.9999923706055,"wires":[["88f7db18.0b9408","4533b84f.ed0198"]]},{"id":"88f7db18.0b9408","type":"http request","z":"73f71bbb.3fb324","name":"CALL Events","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/events","tls":"","x":727.9333190917969,"y":592.9999923706055,"wires":[["2c01bc02.21a8a4"]]},{"id":"69a19b90.fc7cc4","type":"function","z":"73f71bbb.3fb324","name":"FEventsResponse","func":"var req = flow.get('storedObj');\nnewPayload = {\n    endpoint: \"/accounts\",\n    success: true,\n    result: msg.payload\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":"1","noerr":0,"x":1319.933349609375,"y":81.99999237060547,"wires":[["13582b5a.4db405"]]},{"id":"c73bc0cf.f9666","type":"comment","z":"73f71bbb.3fb324","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":183.93331909179688,"y":301.99999237060547,"wires":[]},{"id":"4533b84f.ed0198","type":"debug","z":"73f71bbb.3fb324","name":"ProtocolBuffer Request","active":true,"console":"false","complete":"payload","x":522.933349609375,"y":383.99999237060547,"wires":[]},{"id":"70832c30.de7704","type":"debug","z":"73f71bbb.3fb324","name":"Protocol Buffer Entities","active":true,"console":"false","complete":"payload","x":814.9335632324219,"y":315.99999237060547,"wires":[]},{"id":"1c978c66.53b9b4","type":"function","z":"73f71bbb.3fb324","name":"FAuthenticate","func":"flow.set('storedObj', msg.payload);\n\nvar authenticatePayload = {\n    \"username\": \"default\",\n    \"password\": \"default\"\n}\n\nauthenticatePayload.username = msg.payload.username;\nauthenticatePayload.password = msg.payload.password;\n\nmsg.payload = authenticatePayload;\nreturn msg;","outputs":"1","noerr":0,"x":295.9333190917969,"y":198.99998474121094,"wires":[["f980ccdc.eb89a","4533b84f.ed0198"]]},{"id":"f980ccdc.eb89a","type":"http request","z":"73f71bbb.3fb324","name":"CALL Authenticate","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":429.9333190917969,"y":87.99999237060547,"wires":[["8cc6f9b.ead7608"]]},{"id":"8cc6f9b.ead7608","type":"switch","z":"73f71bbb.3fb324","name":"isAuthenticated","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":593.9334106445312,"y":164.99998474121094,"wires":[["f573abd0.00ec08","70832c30.de7704"],["1bb7141e.3f437c","70832c30.de7704"]]},{"id":"1bb7141e.3f437c","type":"function","z":"73f71bbb.3fb324","name":"FEventsResponse","func":"var req = flow.get('storedObj');\ngetAccountsFailedPayload = {\n    endpoint: \"/accounts\",\n    success: false,\n    result: msg.payload\n};\n\nmsg.payload = getAccountsFailedPayload;\nreturn msg;","outputs":"1","noerr":0,"x":1282.86669921875,"y":270.9333038330078,"wires":[["13582b5a.4db405"]]},{"id":"b8c7ffa5.e8857","type":"inject","z":"73f71bbb.3fb324","name":"Test GetAccounts Authentication Fails","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":211.86663818359375,"y":669.9333419799805,"wires":[["5ffa4f7b.9c83d"]]},{"id":"5ffa4f7b.9c83d","type":"function","z":"73f71bbb.3fb324","name":"FEventsRequest Fail","func":"msg.payload = {\n    \"username\": \"sergiu\", \n    \"password\": \"passFALSE\"\n    \n};\nreturn msg;","outputs":"1","noerr":0,"x":505.8666687011719,"y":671.9333648681641,"wires":[["a1ca0806.2be238","4533b84f.ed0198"]]},{"id":"a1ca0806.2be238","type":"http request","z":"73f71bbb.3fb324","name":"CALL Events","method":"POST","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/events","tls":"","x":753.86669921875,"y":668.9333648681641,"wires":[["2c01bc02.21a8a4"]]},{"id":"733f5b90.966364","type":"debug","z":"692faab0.752134","name":"ProtocolBuffer Request","active":true,"console":"false","complete":"payload","x":552.933349609375,"y":386,"wires":[]},{"id":"69dc7ee9.c5d51","type":"comment","z":"692faab0.752134","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":117.93331909179688,"y":535,"wires":[]},{"id":"d8fb01eb.5df91","type":"http in","z":"692faab0.752134","name":"GET /event?eventID=eventID","url":"/event","method":"get","swaggerDoc":"","x":159.93331909179688,"y":134,"wires":[["13c1a915.558567"]]},{"id":"1c84256.3e5dbdb","type":"function","z":"692faab0.752134","name":"FEvents","func":"eventID = flow.get('eventID');\n\n\nvar retrieveEventWithIDPayload = {\n eventID: eventID\n}\n\nmsg.payload = retrieveEventWithIDPayload;\nreturn msg;","outputs":"1","noerr":0,"x":791.933349609375,"y":84,"wires":[["43cb1219.8d531c","733f5b90.966364"]]},{"id":"469c5a42.d63754","type":"http response","z":"692faab0.752134","name":"EventsResponse","x":1443.933349609375,"y":181.99999237060547,"wires":[]},{"id":"9cfae0ba.d096c","type":"comment","z":"692faab0.752134","name":"REST API & Persistence","info":"","x":177.93331909179688,"y":85,"wires":[]},{"id":"43cb1219.8d531c","type":"mongodb2 in","z":"692faab0.752134","service":"_ext_","configNode":"433e29d.a7785d8","name":"RetrieveEvents collection events","collection":"events","operation":"find.toArray","x":1094.9334106445312,"y":85,"wires":[["dfaa9fa1.b20e2"]]},{"id":"7174ae4f.cc47","type":"debug","z":"692faab0.752134","name":"Protocol Buffer Responses","active":true,"console":"false","complete":"payload","x":1104.9335632324219,"y":382,"wires":[]},{"id":"c61d86c5.3bda48","type":"inject","z":"692faab0.752134","name":"Test GET Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":175.93331909179688,"y":592,"wires":[["38c9007c.d1607"]]},{"id":"a13a7f13.77242","type":"http request","z":"692faab0.752134","name":"CALL Event","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/event?eventID=testEvent","tls":"","x":910.9334411621094,"y":590.0000228881836,"wires":[["7174ae4f.cc47"]]},{"id":"dfaa9fa1.b20e2","type":"function","z":"692faab0.752134","name":"FEventsResponse","func":"var req = flow.get('storedObj');\nnewPayload = {\n    endpoint: \"/accounts\",\n    success: true,\n    result: msg.payload\n};\n\nmsg.payload = newPayload;\nreturn msg;","outputs":"1","noerr":0,"x":1349.933349609375,"y":84,"wires":[["469c5a42.d63754"]]},{"id":"ca873959.d6b8f8","type":"comment","z":"692faab0.752134","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":213.93331909179688,"y":304,"wires":[]},{"id":"55226af1.383a14","type":"debug","z":"692faab0.752134","name":"Protocol Buffer Entities","active":true,"console":"false","complete":"payload","x":844.9335632324219,"y":318,"wires":[]},{"id":"13c1a915.558567","type":"function","z":"692faab0.752134","name":"FAuthenticate","func":"var eventID = msg.req.query.eventID;\nflow.set('eventID', eventID);\n\nvar authenticatePayload = {\n    access_token: \"none\"\n}\n\nauthenticatePayload.access_token = msg.req.headers.authorization;\n\nmsg.payload = authenticatePayload;\nreturn msg;\n","outputs":"1","noerr":0,"x":323.9333190917969,"y":205.99999237060547,"wires":[["733f5b90.966364","d8b0c9c1.ab8da8"]]},{"id":"d8b0c9c1.ab8da8","type":"http request","z":"692faab0.752134","name":"CALL Authenticate","method":"GET","ret":"obj","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":543.933349609375,"y":210.99999237060547,"wires":[["78638ce6.89b2e4"]]},{"id":"78638ce6.89b2e4","type":"switch","z":"692faab0.752134","name":"isAuthenticated","property":"payload.success","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":806.9334411621094,"y":212.99999237060547,"wires":[["1c84256.3e5dbdb","55226af1.383a14"],["620efd81.770864","55226af1.383a14"]]},{"id":"620efd81.770864","type":"function","z":"692faab0.752134","name":"FEventsResponse","func":"var req = flow.get('storedObj');\ngetAccountsFailedPayload = {\n    endpoint: \"/accounts\",\n    success: false,\n    result: msg.payload\n};\n\nmsg.payload = getAccountsFailedPayload;\nreturn msg;","outputs":"1","noerr":0,"x":1312.86669921875,"y":272.93331146240234,"wires":[["469c5a42.d63754"]]},{"id":"9838839.42e278","type":"inject","z":"692faab0.752134","name":"Test GET Event Authorisation fails","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":231.86663818359375,"y":671.933349609375,"wires":[["4c202de0.81b7a4"]]},{"id":"1b05c378.4be38d","type":"http request","z":"692faab0.752134","name":"CALL Event","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/events","tls":"","x":909.8668518066406,"y":670.9333724975586,"wires":[["7174ae4f.cc47"]]},{"id":"ab9f2ab.25968d8","type":"debug","z":"f3b1ea97.c52f28","name":"ProtocolBuffer Request","active":true,"console":"false","complete":"payload","x":645.0001831054688,"y":312.99999237060547,"wires":[]},{"id":"4c400f96.9dace","type":"comment","z":"f3b1ea97.c52f28","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":83,"y":503,"wires":[]},{"id":"9e51b24a.4fa71","type":"http in","z":"f3b1ea97.c52f28","name":"GET /testGetQuery?eventID=eventID","url":"/testGetQuery","method":"get","swaggerDoc":"","x":155,"y":102,"wires":[["66fd89c1.280498"]]},{"id":"ae809e0b.e6b3f","type":"comment","z":"f3b1ea97.c52f28","name":"REST API & Persistence","info":"","x":143,"y":53,"wires":[]},{"id":"80029a3f.53eab8","type":"inject","z":"f3b1ea97.c52f28","name":"Test GET Params","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151,"y":560,"wires":[["f83ebe3c.897db"]]},{"id":"f83ebe3c.897db","type":"http request","z":"f3b1ea97.c52f28","name":"CALL Test Get Params","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/testGetQuery?token=token&eventID=eventID","tls":"","x":491.0000305175781,"y":561.0000228881836,"wires":[["d2353c1a.592a7"]]},{"id":"f3a60858.a505c8","type":"comment","z":"f3b1ea97.c52f28","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":179,"y":272,"wires":[]},{"id":"66fd89c1.280498","type":"function","z":"f3b1ea97.c52f28","name":"FProcessRequestObject QueryParams","func":"var queryParams = msg.req.query;\n\nmsg.payload = queryParams;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":615.0000610351562,"y":104,"wires":[["8fb33e41.3a7ba","ab9f2ab.25968d8"]]},{"id":"d2353c1a.592a7","type":"debug","z":"f3b1ea97.c52f28","name":"ProtocolBuffer Responses","active":true,"console":"false","complete":"payload","x":1067.9334411621094,"y":305.93331146240234,"wires":[]},{"id":"8fb33e41.3a7ba","type":"http response","z":"f3b1ea97.c52f28","name":"EventsResponse","x":1435.933349609375,"y":102.9333267211914,"wires":[]},{"id":"c71d0230.0f068","type":"http request","z":"f3b1ea97.c52f28","name":"CALL Test Get Headers","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/testGetHeaders","tls":"","x":626.933349609375,"y":642.9333724975586,"wires":[["d2353c1a.592a7"]]},{"id":"381528b.e4af6d8","type":"inject","z":"f3b1ea97.c52f28","name":"Test GET Event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.93328857421875,"y":641.9333267211914,"wires":[["45aecc07.eb2614"]]},{"id":"4c202de0.81b7a4","type":"function","z":"692faab0.752134","name":"FAddAuthorizationTokenHeader","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"access_token_FALSE\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":622.1667175292969,"y":680.8667221069336,"wires":[["1b05c378.4be38d"]]},{"id":"45aecc07.eb2614","type":"function","z":"f3b1ea97.c52f28","name":"FAddHeaders2GET","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"token\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":349.9333190917969,"y":640.9333724975586,"wires":[["c71d0230.0f068"]]},{"id":"38c9007c.d1607","type":"function","z":"692faab0.752134","name":"FAddAuthorizationTokenHeader","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"testToken\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":611.933349609375,"y":587.9333724975586,"wires":[["a13a7f13.77242"]]},{"id":"78308f1e.9bce2","type":"http in","z":"26d21295.9cb6fe","name":"GET /authenticate Header Autorization","url":"/authenticate","method":"get","swaggerDoc":"","x":159.93331909179688,"y":148.93331146240234,"wires":[["c6b5481.6dc92b8"]]},{"id":"c6b5481.6dc92b8","type":"function","z":"26d21295.9cb6fe","name":"FUserEntity","func":"var userRequest = {\n    token: msg.req.headers.authorization\n}\nflow.set(\"userRequest\", userRequest);\n\nvar findPayload = {};\nfindPayload.token = msg.req.headers.authorization;\n\nmsg.payload = findPayload;\nreturn msg;","outputs":1,"noerr":0,"x":405.9333190917969,"y":148.93331909179688,"wires":[["94a713fe.dc99a"]]},{"id":"94a713fe.dc99a","type":"mongodb2 in","z":"26d21295.9cb6fe","service":"_ext_","configNode":"433e29d.a7785d8","name":"Retrieve Account collection accounts","collection":"accounts","operation":"findOne","x":660.9333190917969,"y":116.93331909179688,"wires":[["619f1c39.80a524","4dfd8504.14cf2c"]]},{"id":"619f1c39.80a524","type":"function","z":"26d21295.9cb6fe","name":"FAuthenticateResponse","func":"//user can not be null so it is safe to use it\n// var userRequest = flow.get(\"userRequest\");\n\nresultPayload = {\n    endpoint: \"/authenticate\",\n    success: false,\n    result: \"User could not be authenticated!\"\n};\n\nif (msg && msg.payload) {\n        resultPayload.success = true;\n        resultPayload.result = msg.payload;\n}\n\nmsg.payload = resultPayload;\nreturn msg;","outputs":1,"noerr":0,"x":969.9333801269531,"y":169.93331146240234,"wires":[["7ea72e2e.3137a"]]},{"id":"4dfd8504.14cf2c","type":"debug","z":"26d21295.9cb6fe","name":"Protocol Buffer AccountEntity","active":true,"console":"false","complete":"payload","x":806.0374908447266,"y":400.04443359375,"wires":[]},{"id":"eb39fdfb.34392","type":"debug","z":"26d21295.9cb6fe","name":"Protocol Buffer CreateAccountResponse","active":true,"console":"false","complete":"payload","x":1245.0374908447266,"y":399.04443359375,"wires":[]},{"id":"5c38846f.462f9c","type":"inject","z":"26d21295.9cb6fe","name":"Test Authenticate Successful","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.03749084472656,"y":605.04443359375,"wires":[["33a5ed83.59e262"]]},{"id":"33a5ed83.59e262","type":"function","z":"26d21295.9cb6fe","name":"FAuthenticateSuccessful","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"testToken\"\n}\nreturn msg;","outputs":"1","noerr":0,"x":487.03749084472656,"y":603.0444564819336,"wires":[["19772f82.a381a","755de0f0.fb432"]]},{"id":"19772f82.a381a","type":"http request","z":"26d21295.9cb6fe","name":"CALL Authenticate","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":735.0375213623047,"y":608.0444564819336,"wires":[["eb39fdfb.34392"]]},{"id":"191005e5.7b123a","type":"comment","z":"26d21295.9cb6fe","name":"Tests","info":"The Protocol Buffers of DigRep Service","x":83.03749084472656,"y":548.04443359375,"wires":[]},{"id":"56080bb0.67b544","type":"comment","z":"26d21295.9cb6fe","name":"Digital Reputation Protocol Buffers","info":"The Protocol Buffers of DigRep Service","x":179.03749084472656,"y":317.04443359375,"wires":[]},{"id":"755de0f0.fb432","type":"debug","z":"26d21295.9cb6fe","name":"Protocol Buffer CreateAccountRequest","active":true,"console":"false","complete":"payload","x":357.03749084472656,"y":398.04443359375,"wires":[]},{"id":"c561aea.9dc1f5","type":"comment","z":"26d21295.9cb6fe","name":"Digital Reputation REST API / Persistence","info":"The Protocol Buffers of DigRep Service","x":209.03749084472656,"y":55.04443359375,"wires":[]},{"id":"7ea72e2e.3137a","type":"http response","z":"26d21295.9cb6fe","name":"AuthenticateResponse","x":1289.9333801269531,"y":169.93331146240234,"wires":[]},{"id":"f143e789.c3faf8","type":"http request","z":"26d21295.9cb6fe","name":"CALL Authenticate","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/authenticate","tls":"","x":737.0375518798828,"y":754.977783203125,"wires":[["eb39fdfb.34392"]]},{"id":"4001d084.8167f","type":"inject","z":"26d21295.9cb6fe","name":"Test Authenticate Fails No User","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":194.03749084472656,"y":758.9777374267578,"wires":[["462b180f.b0ad08"]]},{"id":"462b180f.b0ad08","type":"function","z":"26d21295.9cb6fe","name":"FAuthenticateFails","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"testTokenFalse\"\n}\nreturn msg;","outputs":"1","noerr":0,"x":485.0375213623047,"y":754.977783203125,"wires":[["f143e789.c3faf8","755de0f0.fb432"]]},{"id":"20b17c10.486854","type":"http in","z":"f3b1ea97.c52f28","name":"GET /testGetHeadersHeaders","url":"/testGetHeaders","method":"get","swaggerDoc":"","x":125,"y":169.93331909179688,"wires":[["fbfbd4e4.4a1328"]]},{"id":"fbfbd4e4.4a1328","type":"function","z":"f3b1ea97.c52f28","name":"FProcessRequestObject HEADRES","func":"var headers = msg.req.headers;\n\nmsg.payload = headers;\n\nreturn msg;\n","outputs":"1","noerr":0,"x":605.0000610351562,"y":171.93331909179688,"wires":[["6672bb6.afc2344","ab9f2ab.25968d8"]]},{"id":"6672bb6.afc2344","type":"http response","z":"f3b1ea97.c52f28","name":"EventsResponse","x":1435.933349609375,"y":170.86664581298828,"wires":[]},{"id":"2ab7721.8611b8e","type":"inject","z":"692faab0.752134","name":"Test GET NON EXISTING Event ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":199.93331909179688,"y":760.933349609375,"wires":[["db234664.155598"]]},{"id":"8807ddf.cf2912","type":"http request","z":"692faab0.752134","name":"CALL Event","method":"GET","ret":"txt","url":"http://digitalreputation.westeurope.cloudapp.azure.com:1880/event?eventID=eventID1","tls":"","x":902.9334411621094,"y":754.9333724975586,"wires":[["7174ae4f.cc47"]]},{"id":"db234664.155598","type":"function","z":"692faab0.752134","name":"FAddAuthorizationTokenHeader","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Authorization\": \"testToken\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":578.933349609375,"y":763.8667221069336,"wires":[["8807ddf.cf2912"]]}]